In [110]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

print("done")

done

In [111]:
url= 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
x= pd.read_html(url)
df= x[0]
df.head(10)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor
7      M7A  Downtown Toronto      Queen's Park
8      M8A      Not assigned      Not assigned
9      M9A      Queen's Park      Not assigned

In [112]:
df['Borough'].unique()

array(['Not assigned', 'North York', 'Downtown Toronto', "Queen's Park",
       'Scarborough', 'East York', 'Etobicoke', 'York', 'East Toronto',
       'West Toronto', 'Central Toronto', 'Mississauga'], dtype=object)

In [113]:
df1= df[df['Borough']!='Not assigned']
df1.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [114]:
#df1['Borough'].unique()
print(df1.shape)
len(df1.Postcode.unique())

(210, 3)

103

In [115]:
df2= df1.groupby('Postcode', axis=1).sum()

In [116]:
df1.columns.values

array(['Postcode', 'Borough', 'Neighbourhood'], dtype=object)

In [124]:
df1.reset_index(inplace=True)
df1

     index Postcode           Borough             Neighbourhood
0        2      M3A        North York                 Parkwoods
1        3      M4A        North York          Victoria Village
2        4      M5A  Downtown Toronto              Harbourfront
3        5      M6A        North York          Lawrence Heights
4        6      M6A        North York            Lawrence Manor
..     ...      ...               ...                       ...
205    281      M8Z         Etobicoke  Kingsway Park South West
206    282      M8Z         Etobicoke                 Mimico NW
207    283      M8Z         Etobicoke        The Queensway West
208    284      M8Z         Etobicoke     Royal York South West
209    285      M8Z         Etobicoke            South of Bloor

[210 rows x 4 columns]

In [125]:
df1.drop('index', axis=1, inplace=True)
df1

    Postcode           Borough             Neighbourhood
0        M3A        North York                 Parkwoods
1        M4A        North York          Victoria Village
2        M5A  Downtown Toronto              Harbourfront
3        M6A        North York          Lawrence Heights
4        M6A        North York            Lawrence Manor
..       ...               ...                       ...
205      M8Z         Etobicoke  Kingsway Park South West
206      M8Z         Etobicoke                 Mimico NW
207      M8Z         Etobicoke        The Queensway West
208      M8Z         Etobicoke     Royal York South West
209      M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

In [126]:
len(df1.Borough.unique())

11

In [127]:
df2= df1.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(lambda Neighbourhood: ','.join(Neighbourhood))
df2.head()

Postcode  Borough
M1B       Scarborough                           Rouge,Malvern
M1C       Scarborough    Highland Creek,Rouge Hill,Port Union
M1E       Scarborough         Guildwood,Morningside,West Hill
M1G       Scarborough                                  Woburn
M1H       Scarborough                               Cedarbrae
Name: Neighbourhood, dtype: object

In [128]:
df2= df2.to_frame()

In [129]:
df2.reset_index(inplace=True)
df2

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                      Rouge,Malvern
1        M1C  Scarborough               Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough                    Guildwood,Morningside,West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101      M9V    Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [131]:
df2[df2.Neighbourhood=='Not assigned' ]

   Postcode       Borough Neighbourhood
93      M9A  Queen's Park  Not assigned

In [132]:
df2.iloc[93, 2] = df2.iloc[93,1]
df2.iloc[93]

Postcode                  M9A
Borough          Queen's Park
Neighbourhood    Queen's Park
Name: 93, dtype: object

In [133]:
df2[df2.Neighbourhood=='Not assigned' ]

Empty DataFrame
Columns: [Postcode, Borough, Neighbourhood]
Index: []

In [134]:
df2.shape

(103, 3)