In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

print('Done')

Done

In [2]:
df= pd.read_csv('can_data.csv')
df.head()

   Unnamed: 0 Postcode      Borough                         Neighbourhood
0           0      M1B  Scarborough                         Rouge,Malvern
1           1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2           2      M1E  Scarborough       Guildwood,Morningside,West Hill
3           3      M1G  Scarborough                                Woburn
4           4      M1H  Scarborough                             Cedarbrae

In [3]:
df.drop('Unnamed: 0', axis=1, inplace=True)

df.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [4]:
import geocoder
print("imported")

imported

In [5]:
postal_code= 'M1B'

In [6]:
df2= pd.read_csv('Geospatial_Coordinates.csv')
df2.sample(5)

   Postal Code   Latitude  Longitude
38         M4G  43.709060 -79.363452
19         M2K  43.786947 -79.385975
11         M1R  43.750072 -79.295849
73         M6C  43.693781 -79.428191
2          M1E  43.763573 -79.188711

In [7]:
df['Latitude']= df2.Latitude

In [8]:
df['Longitude']= df2.Longitude

In [9]:
df

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village,Martin Grove Gardens,Richvie...",43.688905,-79.554724
101,M9V,Etobicoke,"Albion Gardens,Beaumond Heights,Humbergate,Jam...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054

In [10]:
df.to_csv('can_geo.csv')